@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Amiga Forever';
  font-style: normal;
  font-weight: 400;
  src: local('Amiga Forever'),
    url('https://fonts.cdnfonts.com/s/7662/amiga4ever.woff') format('woff');
}
